

<h5 class="text-center m-3"><%=@article.title%></h5>
<div class="container">
 <div class="row justify-content-center">
      <div class="col-10">
        <div class="card m-3 shadow text-center">
          <div class="card-body">
            <p class="card-text"><%=@article.description%></p>
            <%if logged_in? && (@article.user == current_user || current_user.admin?)%>
              <%= link_to  "Edit", edit_article_path(@article),class:"btn btn-outline-success m-1" %>
              <%= link_to  "Delete", article_path(@article),method: "delete",class:"btn btn-outline-danger m-1", data: {confirm: "Are you sure?"} %>
            <%end%>
          </div>
          <div class="card-footer">
            <small>Created <%=time_ago_in_words(@article.created_at)%>, Updated <%=time_ago_in_words(@article.updated_at)%>  </small>
          </div>
        </div>
      </div>
    </div>
  </div>
